/*
#-------------------------------------------------------------------------------
# Copyright (c) 2012 Massimo Maria Ghisalberti {http://pragmas.org}.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the GNU Public License v2.0
# which accompanies this distribution, and is available at
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
# 
# Contributors:
#     Massimo Maria Ghisalberti {http://pragmas.org} - initial API and implementation
#-------------------------------------------------------------------------------
*/
.application-menu {
	width: 20px;
}

.application-label {
    font-weight: bold;
    min-width: 170px;
}
